@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    border: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
body{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: var(--Very-Light-Gray);
}
p{
    color: var(--Grayish-Blue);
}
header{
    white-space: nowrap;
}
.top-container{
    text-align: center;
}
.top-container h1{
    font-size: 2rem;
    font-weight: 200;
    color: var(--Grayish-Blue);
}
.top-container h2{
    margin-top: -20;
    font-size: 2rem;
    color: var(--Very-Dark-Blue);
}
.top-container p{
    font-size: 1.2rem;
    white-space: pre-wrap;
}
.col{
    position: relative;
    background: #fff;
    overflow: hidden;
    margin: 18px auto;
    height: 200px;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.col img{
    position: absolute;
    padding: 15px;
    right: 0;
    bottom: 0;
}
.col h3{
    font-size: 1.3rem;
    color: var(--Very-Dark-Blue);
}
.col::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
}
.col-cyan::after{
    background-color: var(--Cyan);
}
.col-red::after{
    background-color: var(--Red);
}
.col-orange::after{
    background-color: var(--Orange);
}
.col-blue::after{
    background-color: var(--Blue);
}
@media (min-width:768px) {
    .box-section{
        display: flex;
        align-items: center;
    }
    .col{
        margin: 18px;
    }
}